@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto:900');

:global(.cspace-ui-RootPage--common).themed {
  font-family: 'Roboto Slab', serif;
}

:global(.cspace-ui-RootPage--common).themed h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
