@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto:900');

div.themed {
  font-family: 'Roboto Slab', serif;
}

div.themed h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
